<!doctype html>

<html>
  <head>
    <title>glg-nectar</title>
    <script src="node_modules/webcomponents.js/webcomponents.js"></script>
    <link rel="import" href="https://services.glgresearch.com/ui-toolkit/polymer.html">
    <link rel="import" href="https://services.glgresearch.com/ui-toolkit/ui-toolkit.html">
    <link rel="import" href="src/glg-nectar.html">
    <style>
      body {
        font-family: "Helvetica Neue", "Helvetica", "Arial";
        color: #454545;
      }
      ui-typeahead {
        width: 30em;
      }
    </style>
  </head>
  <body container unresolved>
    <h1>glg-nectar demo</h1>
    <div id="myNectarDemo" tile style="margin: 20px 0px 10px 10px;">
      <!-- nectar adapter with custom options set -->
      <glg-nectar
          urls="wss://nectar.glgroup.com/ws"
          entities="employee,client-contact"
          interleave="true"
          boostPrefix="true"
          scoreThreshold="0.5"
          howMany="10"
          appName="nectar-polymer-demo"
      </glg-nectar>
      <ui-typeahead
          id="omni"
          icon="fa-search"
          placeholder="Type employee name..."
          sticky
          debounce="200">
        <icon search></icon>

        <!-- dynamically templated items in the selection list -->
        <!-- assumes results are interleaved, not grouped by entity -->
        <template id="foo" repeat="{{matches}}">
          <ui-typeahead-item>
          <span><strong>{{name}}</strong>, <i>{{title}}</i> | {{location}} Office (&nbsp;ID:{{id}}&nbsp;)</span>
          </ui-typeahead-item>
        </template>
      </ui-typeahead>
    </div>
    <script>
      document.addEventListener('polymer-ready', function() {
        //poke your element here
        var demo = document.querySelector('div#myNectarDemo');
        var nectar = demo.querySelector('glg-nectar');
        var template = demo.querySelector('#foo');

        demo.addEventListener('inputchange', function(evt) {
          if (typeof evt.detail.value !== 'undefined') {
            if (isNaN(evt.detail.value)) {
              nectar.query(evt.detail.value);
            }
            else {
              nectar.jump(evt.detail.value);
            }
            Platform.performMicrotaskCheckpoint();
            console.log("nectar query fired", evt);
          }
        });

        demo.addEventListener('results', function(evt) {
          template.model = evt.detail.results;
          Platform.performMicrotaskCheckpoint();
          console.log("template model updated", template.model);
        });
      });
    </script>
  </body>
</html>
